html {
  background-color: whitesmoke;
}

h1 {
  color: rgb(0, 0, 0);
  margin-top: 2rem;
}

h2 {
  width: 900px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

hr {
  background-color: rgb(38, 32, 27);
  height: 4px;
}

.go {
  color: white;
  background-color: red;
}

.stop {
  color: black;
}

button {
  width: 450px;
  height: 150px;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.main-container {
  text-align: center;
}

.reload:hover {
  background-color: black;
  color: yellow;
}

span {
  padding: 8px;
  color: yellow;
  background-color: black;
  border-radius: 5px;
}

.red {
  padding: 8px;
  color: white;
  background-color: red;
}
